<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dungens & Databases Initiative site">
    <meta name="author" content="michael@michaelhenry.me">
    <title>D&D{{ ' - ' + page_title if page_title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/site.css">
  </head>

  <body>
    {% include 'nav.html' %}
    <main role="main" class="container">
    <div class="se-pre-con"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class='alert alert-{{category}} alert-dismissable' style="margin:5px;">{{message}} <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a></div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- Start Body -->
    {% block body %}
    {% endblock %}
    <!-- End Body -->
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $('#refresh_content').click(function() {
            var $loading = $('.se-pre-con');
            $loading.fadeIn("slow");
            $('#refresh').load(location.href + " #refresh > *");
            $loading.fadeOut("slow");
        });

        $(window).on("load", function (e) {
            $(".se-pre-con").fadeOut("slow");;
        })
    </script>
  </body>
</html>